


<h1>Photo Albums</h1>
<div class="clearfix"></div>
<div class="flexslider" style="width:600px;height:300px !important;">
  <ul class="slides" style="">

     <li>
	    <%=image_tag "photoalbum/engage1.jpg", style:" height:300px;overflow:hidden"    %>
		</li>
		<li>
	    <%=image_tag "photoalbum/engage2.jpg", style:"height:300px;"  %>
		</li>
    <li>
      <%=image_tag "photoalbum/engage3.jpg", style:"height:300px;"  %>
    </li>
		
    <li>
      <%=image_tag "photoalbum/2009-venezuela2_960x720.jpg",style:"height:300px;"  %>
    </li> 
    <% Dir["/assets/images/photoalbum/*"].each do |file| %>
       <li><%=image_tag file[/\/.*/], style:"height:300px" %></li>
    <% end %>
  </ul>
</div>
