
     <header class="navbar navbar-fixed-top">
     
        <div class="navbar-inner topHeader">
          <div class="container">
               <%= link_to "harrisontaylorwedding", root_path, id: "logo" %>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <nav class="nav-collapse collapse">
            <ul id="headerList" class="nav nav-pills pull-right" >
              <li class="active"><%= link_to "Home", '#home'  , class:"link"%></li>
              <li><%= link_to "Our Stories",    '#stories'    , class:"link"%></li>
              <li><%= link_to "Photo Albums",    '#album'     , class:"link"%></li>
              <li><%= link_to "Wedding Registry", '#registry' , class:"link"%></li>
              <li><%= link_to "Directions",   '#directions'   , class:"link"%></li>
              <li><%= link_to "Contact Us", '#contact'        , class:"link"%></li>
            </ul> 
          </nav>
          </div>
        </div>

  </header>