
     <header class="navbar navbar-fixed-top">
        <div class="navbar-inner topHeader">
          <div class="container">
            <ul class="nav nav-pills pull-right">

              <li class="active"><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Our Stories",    '#' %></li>
              <li><%= link_to "Wedding Registry", '#' %></li>
              <li><%= link_to "Photo Albums",    '#' %></li>
              <li><%= link_to "Directions",    directions_path %></li>
              <li><%= link_to "Contact Us", '#' %></li>
            </ul>      
          </div>
        </div>
  </header>