<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title)) %></title>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Lobster", media:"all" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Cabin", media:"all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>    
  </head>
  
<body>  
  <%= render 'layouts/header' %>    
  <div id="contentBg" class="center">
  <p id="imgContent"  style="z-index:-20"><%=image_tag'jamieLawrence_windowshot.jpg', size:"1149x850" %></p>
 </div>
  <div class="clearfix container content">
     <%= yield %>
   </div>
    <%= render 'layouts/footer' %>    
  </body>
</html>
