<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title)) %></title>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Lobster", media:"all" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Cabin", media:"all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>    
  </head>
  
<body>  
  <%= render 'layouts/header' %>    
  <div id="contentBg"></div>
 <div class="row-fluid" style="margin-top:90px;">
  <div id="contentContainer" class="clearfix offset6 content">
     <%= yield %>
   </div>
<footer class="footer"  style="">
    <div class="inner offset6" style="margin-right:10px;padding-top:0;background-color:#EAEAEA;" >
 <div id="next"  style="float:left;">
  <h3>Jamie and Lawrence | September 14, 2013</h3>
</div>
<div class="clearfix"></div>
</div>

</footer>
   </div>
   
    <%= render 'layouts/footer' %>    
  </body>
  
  </script>
</html>
